<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.flightyapp.flighty.refresh</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>22E5219e</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Flighty</string>
	<key>CFBundleExecutable</key>
	<string>Flighty</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-FTP</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-FTP60x60</string>
					<string>AppIcon-FTP76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon-FTP</string>
			</dict>
			<key>AppIcon-FlightyBoard</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-FlightyBoard60x60</string>
					<string>AppIcon-FlightyBoard76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon-FlightyBoard</string>
			</dict>
			<key>AppIcon-Nighty</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Nighty60x60</string>
					<string>AppIcon-Nighty76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon-Nighty</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-FTP</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-FTP60x60</string>
					<string>AppIcon-FTP76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon-FTP</string>
			</dict>
			<key>AppIcon-FlightyBoard</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-FlightyBoard60x60</string>
					<string>AppIcon-FlightyBoard76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon-FlightyBoard</string>
			</dict>
			<key>AppIcon-Nighty</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Nighty60x60</string>
					<string>AppIcon-Nighty76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon-Nighty</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.flightyapp.flighty</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Flighty</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.9.2</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.flightyapp.flighty</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>flighty</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4267</string>
	<key>DTAppStoreToolsBuild</key>
	<string>14C17</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>20C52</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>16.2</string>
	<key>DTSDKBuild</key>
	<string>20C52</string>
	<key>DTSDKName</key>
	<string>iphoneos16.2</string>
	<key>DTXcode</key>
	<string>1420</string>
	<key>DTXcodeBuild</key>
	<string>14C18</string>
	<key>DTXcodeBuildDistribution</key>
	<string>14C18</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>App-prefs</string>
		<string>instagram-stories</string>
		<string>snapchat</string>
		<string>comgooglemaps</string>
		<string>twitter</string>
		<string>fb</string>
		<string>instagram</string>
		<string>googlegmail</string>
		<string>ms-outlook</string>
		<string>readdle-spark</string>
		<string>airmail</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>MAPBOX_TOKEN_REDACTED</string>
	<key>MGLMapboxMetricsEnabledSettingShownInApp</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://flighty.app</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api-fa-tst.flightyapp.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>api.tst.flightyapp.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Flighty needs access to the calendar to be able to export flights.</string>
	<key>NSContactsUsageDescription</key>
	<string>Flighty will add a single new contact called "Flight Auto Import", for your convenience when forwarding itinerary emails to us. Your contacts will not accessed, shared, or uploaded.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>WiFi Network is requesting this, probably to assisting connecting. Not Flighty.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Flighty needs access to the microphone to be able to attach voice notes.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Flighty needs permission to save your image.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Flighty needs access to your photo library for you to be able to automatically attach screenshots to bug reports.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Noway-Regular.otf</string>
		<string>Noway-Medium.otf</string>
		<string>Noway-Bold.otf</string>
		<string>Noway-Light.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
